@model Library.Models.LearningUnit
@{
    ViewBag.Title = @Model.Title;
}

<div class="w-full max-w-2xl px-10 py-10">
    <div class="flex gap-4">
        <div class="w-11/12">
            <div class="mb-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="moduleId"> Module Id </label>
                <input class="appearance-none block bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" asp-for="Id" id="semesterId" type="text" name="semesterId" disabled="disabled"/>
            </div>
            <div class="mb-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="name"> Naam </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white" asp-for="Title" id="title" type="text" name="title" disabled="disabled"/>
            </div>
            <div class="mb-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="expiration"> Verloopdatum </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 leading-tight focus:outline-none" asp-for="Expiration" id="expiration" type="date" name="expiration" disabled="disabled"/>
            </div>
            <div class="mb-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="visible"> Tonen </label>
                <input class="rounded" asp-for="Visible" id="visible" type="checkbox" name="visible" disabled="disabled"/>
            </div>
            <div class="mb-3">
                <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="status"> Status </label>
                <input class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded leading-tight focus:outline-none focus:bg-white" asp-for="Status" id="status" type="text" value="@Model.Status" disabled="disabled"/>
            </div>
        </div>
        <div>
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="description"> Beschrijving </label>
            <textarea class="appearance-none bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" asp-for="Description" id="description" name="description" disabled="disabled"></textarea>
        </div>
    </div>
    <div>
        <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"> Modules </label>
        <table class="table-fixed border text-center">
            <thead>
            <tr>
                <th class="w-1/4">Naam</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var module in @Model.LearningUnitModules)
            {
                <tr class="hover:bg-gray-200 hover:text-gray-400 cursor-pointer" onclick="openUrlWithId('/Module/Details/', @module.ModuleId);">
                    <td>@module.Module.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div class="flex justify-between mt-10">
        <div>
            <a asp-controller="LearningUnit" asp-action="Edit" asp-route-id="@Model.Id" class="inline-flex px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                EVL aanpassen
            </a>
        </div>
        @if (User.IsInRole("ModulePrincipal") || User.IsInRole("ExamCommitteeMember"))
        {
            <div class="flex gap-4">
                <form method="post" asp-controller="LearningUnit" asp-action="ApproveLearningUnit" asp-route-id="@Model.Id">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="inline-flex px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-green-100 bg-green-500 hover:bg-green-300">
                        Goedkeuren
                    </button>
                </form>
                <form method="post" asp-controller="LearningUnit" asp-action="DenyLearningUnit" asp-route-id="@Model.Id">
                    <button type="submit" class="inline-flex px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-red-100 bg-red-500 hover:bg-red-500">
                        Afkeuren
                    </button>
                </form>
            </div>
        }
    </div>
    @if (User.IsInRole("ModulePrincipal") || User.IsInRole("ExamCommitteeMember"))
    {
        <div class="mt-5">
            <form method="post" asp-controller="LearningUnit" asp-action="Delete" asp-route-id="@Model.Id">
                <button type="submit" class="inline-flex px-4 py-2 border border-gray-300 shadow-sm text-base font-medium rounded-md text-red-100 bg-red-700 hover:bg-red-400">
                    Verwijderen
                </button>
            </form>
        </div>
    }
</div>
